:root {
    --bg-color: #ffffff;
    --text-color: #333333;
    --header-bg: #333333;
    --header-text: #ffffff;
    --link-hover-bg: rgba(255, 255, 255, 0.1);
}

.dark-theme {
    --bg-color: #333333;
    --text-color: #ffffff;
    --header-bg: #1a1a1a;
    --header-text: #ffffff;
    --link-hover-bg: rgba(255, 255, 255, 0.2);
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;
}

header {
    background-color: var(--header-bg);
    color: var(--header-text);
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 1rem;
}

nav ul li a {
    color: var(--header-text);
    text-decoration: none;
}

main {
    padding: 2rem;
}

section {
    margin-bottom: 2rem;
}

h1, h2 {
    color: var(--text-color);
}

footer {
    background-color: var(--header-bg);
    color: var(--header-text);
    text-align: center;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}

#theme-toggle {
    background-color: var(--text-color);
    color: var(--bg-color);
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.nav-menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.nav-menu > li {
    position: relative;
    margin-right: 1rem;
}

.nav-menu a {
    color: var(--header-text);
    text-decoration: none;
    padding: 0.5rem 1rem;
    display: block;
}

/* Випадаюче меню */
.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--header-bg);
    min-width: 150px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.dropdown-menu li {
    width: 100%;
}

.dropdown-menu a {
    padding: 0.5rem 1rem;
    color: var(--header-text);
}

/* Показуємо випадаюче меню при наведенні */
.dropdown:hover .dropdown-menu {
    display: block;
}

/* Стиль для активного елементу меню */
.nav-menu > li > a:hover,
.dropdown-menu a:hover {
    background-color: var(--link-hover-bg);
}

ul {
    display: flex;
    align-items: center;
    gap: 1.2rem;
    list-style: none;
}

.link {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    padding: 0.5rem;
    position: relative;
}

.link::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
    border-radius: 5px;
    transform: scaleX(0);
    transition: all 0.6s ease;
}